<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BingchongService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="basePath" value="D:/BingChong2/Backend/" />
    <add key="uploadImagePath" value="Content/uploads/img/" />
    <add key="uploadVoicePath" value="Content/uploads/Voice/" />
    <add key="siteUrl" value="http://218.60.131.41:10230/" />
  </appSettings>


  <connectionStrings configSource="ConnStrings.config"/>


  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="Off"/>
  </system.web>


  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding transferMode="Streamed"
								 name="newtonsoftJsonBinding"
								 contentTypeMapper="BingchongService.Json.NewtonsoftJsonContentTypeMapper, BingchongService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								 maxBufferSize="204822000"
								 maxReceivedMessageSize="204822000"
								 maxBufferPoolSize="204822000">
          <readerQuotas maxDepth="204822000"
								  maxStringContentLength="204822000"
								  maxBytesPerRead="204822000"
								  maxNameTableCharCount="204822000"
								  maxArrayLength="204822000"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="BingchongService.ServiceBehavior" name="BingchongService.Service">
        <endpoint
							address=""
							behaviorConfiguration="newtonsoftJsonBehavior"
							binding="webHttpBinding"
							bindingConfiguration="newtonsoftJsonBinding"
							contract="BingchongService.IService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="newtonsoftJsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json"/>
          <newtonJsonBehaviorExtension/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="BingchongService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="newtonJsonBehaviorExtension" type="BingchongService.Json.NewtonsoftJsonBehaviorExtension, BingchongService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>


  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
