body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:80px;
  width:22px;
  height:19px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:103px;
  width:209px;
  height:220px;
  overflow:hidden;
  visibility:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1px;
  top:1px;
  width:206px;
  height:217px;
}
#u3_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:209px;
  height:220px;
}
#u4 {
  position:absolute;
  left:2px;
  top:100px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:4px;
  top:9px;
  width:200px;
  height:203px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:203px;
}
#u6 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:91px;
  top:122px;
  width:25px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:9px;
  top:191px;
  width:50px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:147px;
  top:191px;
  width:50px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:69px;
  top:191px;
  width:69px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:353px;
  top:80px;
  width:22px;
  height:19px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:301px;
  top:103px;
  width:209px;
  height:220px;
  overflow:hidden;
  visibility:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:1px;
  top:1px;
  width:206px;
  height:217px;
}
#u14_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:209px;
  height:220px;
}
#u15 {
  position:absolute;
  left:2px;
  top:100px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:4px;
  top:9px;
  width:200px;
  height:203px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:203px;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:91px;
  top:122px;
  width:25px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:9px;
  top:191px;
  width:50px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:147px;
  top:191px;
  width:50px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:69px;
  top:191px;
  width:69px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
